<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Yu-Chia Liu:</li>
          <li><a href="mailto:{{ yul560@eng.ucsd.edu }}">yul560@eng.ucsd.edu</a></li>
          <li>Ming-Wei Liu:</li>
          <li><a href="mailto:{{ mil228@eng.ucsd.edu }}">mil228@eng.ucsd.edu</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
